@model TicketverkoopVoetbal.ViewModels.MatchVM

<div class="match-container">
    <div class="match-header">
        <div class="team-container">
            <span class="team-name">@Model.ThuisploegNaam</span>
            <img src="@Model.ThuisploegLogoPath" alt="Thuisploeg logo" class="team-logo" />
        </div>
        <div class="match-details">
            <p class="match-date">@Model.Datum?.ToString("dd/MM/yyyy")</p>
            <p>@Model.Startuur?.ToString("hh\\:mm")</p>
        </div>
        <div class="team-container">
            <img src="@Model.UitploegLogoPath" alt="Uitploeg logo" class="team-logo" />
            <span class="team-name">@Model.UitploegNaam</span>
        </div>
    </div>
    @if (Model.Datum.HasValue && (Model.Datum.Value - DateTime.Today).TotalDays <= 30)
    {
        <div class="add-to-cart">
            <a asp-controller="PurchaseTicket" asp-action="Index" asp-route-id="@Model.MatchId">
                <button>Add to Cart</button>
            </a>
        </div>
    }
</div>
