@model TicketverkoopVoetbal.ViewModels.MatchVM

<div class="match-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="team-home-container">
                <span class="team-home-name">@Model.ThuisploegNaam</span>
                <img src="@Model.ThuisploegLogoPath" alt="Thuisploeg logo" class="team-logo" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="match-details">
                <p class="match-date">@Model.Datum?.ToString("d MMMM yyyy")</p>
                <p>@Model.Startuur?.ToString("hh\\:mm")</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-away-container">
                <img src="@Model.UitploegLogoPath" alt="Uitploeg logo" class="team-logo" />
                <span class="team-away-name">@Model.UitploegNaam</span>
            </div> 
        </div>
        <div class="col-md-2">
            @if (Model.Datum.HasValue && Model.Datum.Value <= DateTime.Today.AddMonths(1))
            {
                <div class="add-to-cart">
                    <a asp-controller="PurchaseTicket" asp-action="Index" asp-route-id="@Model.MatchId">
                        <button class="btn btn-primary">Add to Cart</button>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
