@model TicketverkoopVoetbal.ViewModels.SelectTicketVM

@{
    ViewData["Title"] = "Select Ticket";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @if (Model.matchVM != null)
            {
                <h2>Match Details</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Stadion</td>
                            <td>@Model.matchVM.StadionNaam</td>
                        </tr>
                        <tr>
                            <td>Thuisploeg</td>
                            <td>@Model.matchVM.ThuisploegNaam</td>
                        </tr>
                        <tr>
                            <td>Uitploeg</td>
                            <td>@Model.matchVM.UitploegNaam</td>
                        </tr>
                        <tr>
                            <td>Datum</td>
                            <td>@Model.matchVM.Datum?.ToString("d MMMM yyyy")</td>                          
                        </tr>
                        <tr>
                            <td>Startuur</td>
                            <td>@Model.matchVM.Startuur?.ToString("hh\\:mm")</td>
                        </tr>
                    </tbody>
                </table>


                @if (Model.HotelLijst != null && Model.HotelLijst.Any())
                {
                    <h2>Hotels Dichtbij</h2>
                    <table class="table">
                        <tbody>
                            @foreach (var hotel in Model.HotelLijst)
                            {
                                <tr>
                                    <td>@hotel.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
        <div class="col-md-4">
            <h2>Ticket Selectie</h2>
            <form id="ticketForm" asp-action="Index" method="post" onsubmit="return validateForm()">
                <input type="hidden" asp-for="MatchId" />

                <div class="form-group">
                    <label for="ZoneId">Selecteer stadion zone:</label>
                    <select asp-for="ZoneId" asp-items="@Model.Zones" class="form-control">
                        <option value="">Kies een Zone</option>
                    </select>
                </div>
                @if (TempData["ErrorVolzetMessage"] != null)
                {
                    <div class="alert alert-danger mt-2" role="alert">
                        @TempData["ErrorVolzetMessage"]
                    </div>
                }
                <div class="form-group">
                    <label for="Aantal">Selecteer het aantal tickets (max 4):</label>
                    <input asp-for="Aantal" type="number" min="1" max="4" class="form-control" />
                    <span asp-validation-for="Aantal" class="text-danger"></span>
                </div>

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger mt-2" role="alert">
                        @TempData["ErrorMessage"]
                    </div>
                }
                <br/>
                <button type="submit" class="btn btn-primary">Bevestig</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function validateForm() {
            var zoneId = document.getElementById("ZoneId").value;

            // Controleer of een zone is geselecteerd
            if (zoneId === "") {
                alert("Selecteer alstublieft een zone.");
                return false;
            }

            return true;
        }
    </script>
}
