@model TicketverkoopVoetbal.ViewModels.HistoryVM

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div class="table">
    <h3>Ticket History</h3>
    @if (Model.TicketVMs.Count() < 1)
    {
        <p>U heeft nog geen ticket(s) gekocht</p>
    }
    else
    {
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Match</th>
                    <th>Datum</th>
                    <th>Startuur</th>
                    <th>Zone</th>
                    <th>Seat</th>
                    <th>Op naam van</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model.TicketVMs)
                {
                    <tr>
                        <td>@ticket.MatchID</td> @* TODO *@
                        <td>TODO</td>
                        <td>TODO</td>
                        <td>@ticket.ZoneNaam</td>
                        <td>@ticket.StoeltjeID</td>
                        <td>@ticket.Eigenaar</td> @* TODO *@
                        <td>
                            <a asp-action="DeleteTicket" asp-route-ticketID="@ticket.TicketID">
                                <img src="~/images/delete-icon.png" alt="Delete" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <h3 id="abonnementTitel">Abonnement History</h3>
    @if (Model.AbonnementVMs.Count() < 1)
    {
        <p>U heeft nog geen abonnement(en) gekocht</p>
    }
    else
    {
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Club</th>
                    <th>Loopt van</th>
                    <th>tot</th>
                    <th>Zone</th>
                    <th>Seat</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var abonnement in Model.AbonnementVMs)
                {
                    <tr>
                        <td>TODO</td>
                        <td>TODO</td>
                        <td>TODO</td>
                        <td>@abonnement.ZoneNaam</td>
                        <td>@abonnement.StoeltjeId</td>
                        <td>
                            <a asp-action="DeleteTicket" asp-route-ticketID="@abonnement.GebruikerID">
                                <img src="~/images/delete-icon.png" alt="Delete" />
                            </a>
                            @* @Html.ActionLink("Delete", "Delete", new { /*  id=abonnement. */  }) *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
