@model TicketverkoopVoetbal.ViewModels.SelectAbonnementVM
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @if (Model != null)
            {
                <h2>Abonnement details</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Stadion</td>
                            <td>@Html.DisplayFor(modelItem => Model.StadionNaam)</td>
                        </tr>
                        <tr>
                            <td>Club</td>
                            <td>@Html.DisplayFor(modelItem => Model.Naam)</td>
                        </tr>
                        <tr>
                            <td>Seizoen</td>
                            <td>@Model.Seizoen.StartDatum.ToString("d MMMM yyyy") - @Model.Seizoen.EindDatum.ToString("d MMMM yyyy")</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
        <div class="col-md-4">
            <h2>Abonnement Selectie</h2>
            <form asp-action="Index" method="post" >
                <div class="form-group">
                    <input type="hidden" asp-for="ClubID" />
                    <input type="hidden" asp-for="SeizoenID" />
                    <input type="hidden" asp-for="StadionNaam" />
                    <input type="hidden" asp-for="Naam" />
                    <label for="ZoneId">Selecteer stadion zone:</label>
                    <select asp-for="ZoneID" asp-items="@Model.Zones" class="form-control" required data-validation-required-message="Selecteer een stadion zone">
                        <option value="">Kies een Zone</option>
                    </select>
                    @if (TempData["ErrorVolzetMessage"] != null)
                    {
                        <div class="alert alert-danger mt-2" role="alert">
                            @TempData["ErrorVolzetMessage"]
                        </div>
                    }
                </div>
                <br />
                <button asp-controller="PurchaseAbonnement" asp-action="index" type="submit" class="btn btn-primary">Bevestig</button>
            </form>
        </div>
    </div>
</div>
