@model IEnumerable<TicketverkoopVoetbal.ViewModels.ClubVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Clubs</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Club Naam
            </th>
            <th>
                Stadion Naam
            </th>
            <th>
                Logo
            </th>
            <th>
                Acties
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var club in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => club.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => club.StadionNaam)
                </td>
                <td>
                    <img src="@Url.Content(club.LogoPath)" alt="@club.Naam Logo" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    <a asp-controller="PurchaseAbonnement" asp-action="Index" asp-route-id="@club.ClubId">
                        Koop Abonnement
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
