@model IEnumerable<TicketverkoopVoetbal.ViewModels.StadionVM>

@{
    ViewData["Title"] = "Stadions";
}

<style>
    .card-img-top {
        height: 250px;
        object-fit: cover;
    }
</style>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var stadion in Model)
        {
            <div class="col">
                <div class="card">
                    <img src="@Url.Content(stadion.FotoPath)" class="card-img-top" alt="@stadion.Naam">
                    <div class="card-body">
                        <h5 class="card-title">@stadion.Naam</h5>
                        <p class="card-text">
                            <strong>Adres:</strong> @stadion.Adres <br>
                            <strong>Stad:</strong> @stadion.Stad <br>
                            <strong>Capaciteit:</strong> @stadion.Capaciteit
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
