@model TicketverkoopVoetbal.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/tablestyles.css" rel="stylesheet" />

<div class="table">
    <h3><em>Review</em> your cart:</h3>

    @if (Model != null)
    {
        <form asp-controller="ShoppingCart" asp-action="Purchase" method="post">
            @if (Model.Carts == null && Model.Abonnementen == null)
            {
                <p>Your shopping cart is empty at the moment.</p>
            }
            else
            {
                @if (Model.Carts != null && Model.Carts.Any())
                {
                    <h3>Tickets</h3>
                    <table class="cart-table">
                        <thead>
                            <tr>
                                <th>Match</th>
                                <th>Datum</th>
                                <th>Startuur</th>
                                <th>Stadium</th>
                                <th>Zone</th>
                                <th>Prijs</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Carts)
                            {
                                <tr>
                                    <td>@item.matchVM.ThuisploegNaam - @item.matchVM.UitploegNaam</td>
                                    <td>@item.matchVM.Datum?.ToString("d MMMM yyyy")</td>
                                    <td>@item.matchVM.Startuur?.ToString("hh\\:mm")</td>
                                    <td>@item.matchVM.StadionNaam</td>
                                    <td>@item.ZoneNaam</td>
                                    <td>@item.Prijs.ToString("C")</td>
                                    <td>
                                        <a asp-action="DeleteTicket" asp-route-matchId="@item.MatchID">
                                            <img src="~/images/delete-icon.png" alt="Delete" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                @if (Model.Abonnementen != null && Model.Abonnementen.Any())
                {
                    <h3 id="abonnementTitel">Abonnement</h3>
                    <table class="cart-table">
                        <thead>
                            <tr>
                                <th>Club Name</th>
                                <th>Stadium</th>
                                <th>Zone</th>
                                <th>Prijs</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Abonnementen)
                            {
                                <tr>
                                    <td>@item.ClubVM.Naam</td>
                                    <td>@item.ClubVM.StadionNaam</td>
                                    <td>@item.ZoneNaam</td>
                                    <td>@item.Prijs.ToString("C")</td>
                                    <td>
                                        <a asp-action="DeleteAbonnement" asp-route-clubId="@item.ClubID">
                                            <img src="~/images/delete-icon.png" alt="Delete" />
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <table class="cart-table">
                    <tfoot>
                        <tr>
                            <td colspan="6" class="total">
                                Totaal: <span>@Model.Total.ToString("C")</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <br />
                <button type="submit" class="btn">Checkout</button>
            }
        </form>
    }
    else
    {
        <p class="empty-cart">Your shopping cart is empty at the moment.</p>
    }
</div>
