@model IEnumerable<TicketverkoopVoetbal.ViewModels.MatchVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StadionNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThuisploegNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UitploegNaam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StadionNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThuisploegNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UitploegNaam)
            </td>

        </tr>
}
    </tbody>
</table>
