@model TicketverkoopVoetbal.ViewModels.ClubMatchVM

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label for="ClubId" class="control-label">Select Club:</label>
                <select asp-for="ClubNumber" asp-items="Model.Clubs">
                    <option disabled selected value="">Kies een Club</option>
                </select>
            </div>
        </form>
    </div>
</div>


@if (Model.Matches != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Matches.First().MatchId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matches.First().StadionNaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matches.First().ThuisploegNaam)
                    @* Voeg hier het clublogo toe *@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matches.First().UitploegNaam)
                    @* Voeg hier het clublogo toe *@
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matches.First().Datum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matches.First().Startuur)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Matches)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MatchId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StadionNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ThuisploegNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UitploegNaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Startuur)
                    </td>
                    <td>
                        <a asp-controller="PurchaseTicket" asp-action="Index" asp-route-id="@item.MatchId">
                            <img src="~/images/shoppingcart.png" alt="shoppingcart" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section scripts
{

    <script>
        $("#ClubNumber").on("change", () => {
            $("form").trigger("submit");
        });

    </script>
}
